@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Nunito:400,300);

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    color: rgb(255, 64, 191);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    background-color: black;
}

a:hover {
    color: lighten(rgb(255, 64, 191), 10%);
}


.hangman {
    font-family: "Londrina Solid", cursive;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.hangman h1 {
    font-size: 25px;
    margin-bottom: 5px;
    color: rgb(255, 64, 191);
    font-weight: 200;
}

.hangman p {
    margin-bottom: 5px;
    color: black;
    line-height: 1.3;
}

@keyframes letteranim {
    50% {
        transform: translateY(-5px) scale(1.05);
    }
}

.letter {
    display: inline-block;
    color: transparent;
    border-bottom: 3px solid rgb(255, 64, 191);
    margin: 0 5px;
    font-size: 25px;
    padding: 5px;
    transition: .5s;
    text-transform: uppercase;
}

.lastName {
    display: inline-block;
    color: black;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin: 0 5px;
    font-size: 25px;
    padding: 5px;
    transition: .5s;
    text-transform: uppercase;
}

.word {
    padding: 0px;
    display: block;
    white-space: pre-line;
}

.correct {
    color: rgb(255, 64, 191);
    text-shadow: 1px 2px darken(rgb(255, 64, 191), 10%);
    animation: letteranim .3s ease;
}

.guessForm {
    margin: 10px auto 0;
    padding-bottom: 10px;
}

input,
.guessButton {
    font-family: "Londrina Solid", cursive;
}

input[type="text"] {
    outline: none;
    padding: 10px;
    font-size: 20px;
    /*margin-bottom: 10px;
    margin-right: 5px;*/
    border: 1px solid #aaa;
    border-radius: 8px;
    color: gray;
}

.guessButton {
    border: none;
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
    background: rgb(255, 64, 191);
    color: white;
    transition: .3s;
    margin: 0px;
    text-shadow: 1px 2px 0 darken(rgb(255, 64, 191), 10%);
    border-radius: 8px;
}

.guessButton:hover {
    background: darken(rgb(255, 64, 191), 10%);
}

.wrongLetters {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0px;
}

.wrongLetters li {
    display: inline-block;
    font-size: 20px;
    background: lighten(rgb(0, 0, 0), 15%);
    text-shadow: 1px 2px 0 rgb(0, 0, 0);
    padding: 0px;
    color: white;
    text-transform: uppercase;
    margin-right: 0px;
    animation: letteranim .3s ease;
}

.message {
    display: none;
    padding: 10px;
    padding-top: 0px;
    top: 122px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 64, 191);
}

.message h1 {
    display: none;
    color: white;
    text-shadow: 1px 2px 0 rgb(50, 50, 50);
}

.message highlight {
    color: black;
    text-transform: capitalize;
}

.text {
    color: white;
    font-size: 20px;
    display: none;
}

.text p {
    color: white;
}

.text highlight {
    font-size: 20px;
}

.muted {
    margin: 20px auto;
    color: lighten(rgb(255, 64, 191), 10%);
}

.button.restart {
    display: none;
    margin: 10px 0;
    border: solid;
    border-color: black;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: lighten(rgb(100, 100, 100), 5%);
    color: white;
    transition: .3s;
    text-shadow: 1px 2px 0 rgb(50, 50, 50);
    font-family: "Londrina Solid", cursive;
    border-radius: 8px;
}

.button.restart:hover {
    background: lighten(pink, 20%);
}