.nameGB {
	color: slategrey;
	font-weight: bold;
	font-size: 24pt;
	margin: 0px;
}

.dateGB {
	color: darkgrey;
	font-size: 12pt;
	font-style: oblique;
	margin: 0px;
}

.postGB {
	color: dimgrey;
	font-size: 18pt;
	margin: 0px;
	padding-bottom: 10px;
}

#footer {
	justify-content: center;
}
